*,
*::before,
*::after {
  box-sizing: border-box;
}

/* #region Body */
body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #fff;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion */

/* #region Common */
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.section {
  padding: 120px 0;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* #endregion */

/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header__logo {
  margin-right: 76px;
}

.logo-accent {
  color: #4d5ae5;
}
.nav {
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-item {
}

.nav-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.active {
  position: relative;
}
.nav-link.active::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-item {
}

.address-link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* #endregion */

/* #region Section Hero */
.hero {
  background-color: #2e2f42;

  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 1440px;
  padding: 188px 0;
  text-align: center;
}

.hero__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: #fff;
  width: 496px;

  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.hero__button {
  display: block;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* width: 169px;
  height: 56px; */
}

.hero__button:hover,
.hero__button:focus {
  background-color: #404bbf;
}
/* #endregion */

/* #region Section Our features */
.features {
  padding: 120px 0;
  margin: 0 auto;
}
.features__title {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.features__list {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 24px;
}

.features__item {
  flex-basis: calc((100% - 24px * 3) / 4);
}

.features__item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  /* width: 264px; */
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.features__wrapper-svg {
}
.features__item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  width: 264px;
}
/* #endregion */

/* #region Section Team */
.team {
  background-color: #f4f4fd;
  text-align: center;
  padding: 120px 0;
  margin: 0 auto;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team__list {
  display: flex;
  /* align-items: center; */
  justify-content: center;

  gap: 24px;
}

.team__item {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  border-radius: 0 0 4px 4px;
  flex-basis: calc((100% - 24px * 3) / 4);
}

.team__item:last-child {
}

.team__img {
}

.team__caption {
  padding: 32px 16px;
}

.team__item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.team__socials-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team__socials-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__socials-link {
  display: flex;
  padding: 12px;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__socials-icon {
  fill: #f4f4fd;
}

.team__socials-link:hover,
.team__socials-link:focus {
  background-color: #404bbf;
}
/* #endregion */

/* #region Section Portfolio */
.portfolio {
  padding: 120px 0;
}

.portfolio__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 72px;
}

.portfolio__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio__item {
  background-color: #fff;
  flex-basis: calc((100% - 24px * 2) / 3);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__caption {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio__wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 40px 32px;

  color: #f4f4fd;
  background-color: #4d5ae5;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover .overlay,
.portfolio__item:focus .overlay {
  transform: translateY(0);
}

.portfolio__item-img {
}

.portfolio__item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 8px;
}

.portfolio__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio__item:hover,
.portfolio__item:focus {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
}

/* #endregion */

/* #region Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .container {
}

.footer__wrapper {
  display: flex;
  align-items: baseline;
}

.footer__logo-wrapper {
  margin-right: 120px;
}

.footer__logo {
  display: block;
  color: #f4f4fd;

  margin-bottom: 16px;
}

.logo-accent {
}

.footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.footer__socials-wrapper {
}

.footer__socials-media {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}

.footer-list {
  gap: 16px;
}

.footer-link {
  display: flex;

  padding: 8px;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}
/* #endregion */
